body{
    position: relative;
    align-content: center;
    align-items: center;
    text-align: center;
    display: block;
    background-image: url('pt.jpg');
   
}

img{
    height: 500px;
    width: auto;
}

form{
    top: 5%;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    
}

input[type=text], input[type=password], input[type=email] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
  }
  

  button {
    height: 50px;
    width: 200px;
    background-color: #E3E4FA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    color: black;
    font-weight: 700;
    
  }
  
  button:hover {
    opacity: 0.8;
  }

  #display-error{
    color: black;
    background-color: red;
    font-size: 20px;
    font-weight: 700;
  }